.HomeContent {
  background-image: url("./assets/HomeContentBg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}

.stroke {
  font-style: italic;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
}
